parameters:
	level: 9

	paths:
		- .

	excludePaths:
		- '.Build/*'
		- '.ddev/*'
		- 'Tests/*'
		- 'var/*'

	# scanFiles:
	# 	- %rootDir%/../../typo3/testing-framework/Resources/Core/Build/UnitTestsBootstrap.php

	ignoreErrors:

# please specify user specific config in the separate `phpstan.neon` file and include this file!
